# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
tests/
test-results/
coverage/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentation
*.md
!README.md

# Data
data/
uploads/
!db/
*.db
*.sqlite

# Models
models/
*.h5
*.pb
